<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fixnow">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".RateActivity"></activity>
        <activity android:name=".SpecialistActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".OpinionsActivity" />
        <activity android:name=".SendRequestActivity" />
        <activity android:name=".MenuSpecialistActivity" />
        <activity android:name=".SpecialistProfileActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".RegisterActivity4" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity3" />
        <activity android:name=".RegisterActivity2" />
        <activity android:name=".RegisterActivity1" />
        <activity android:name=".UserRegisterActivity2" />
        <activity android:name=".ChooseRoleActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAy54fh074Z_Jq4NDOkz5lerW2zfr5Uiic" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".RegisterLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>